body {
  font-size: 100px;
  background-color: #F5F5F5;
}

#title h1 {
  color: #808080;
  font-size: 70px;
  font-family: 'Ribeye Marrow', cursive;
  margin: 0px;
  padding: 0px;  
}

#title h2 {
  color: black;
  font-size: 56px;
  margin: 4px;
  line-height: 10px;
  padding-top: 60px;
  font-family: 'Oldenburg', cursive;
}

#title {
  background-color: #F5F5F5;
  text-align: center;
}

#button {
  text-align: center;
}

#button button {
  border: 4px solid #808080;
  border-radius: 18px;
  padding: 8px 14px 8px 14px;
  font-size: 18px;
  background-color: #F5F5F5;
  font-family: 'Andika', sans-serif;
}

#button button:hover {
  border: 6px solid #808080;
  background-color: #9ACD32;
  cursor: pointer; cursor: hand;
  padding: 10px 16px 10px 16px;
}

#button button:active {
  border: 6px solid #808080;
  background-color: #9ACD32;
  cursor: pointer; cursor: hand;
  padding: 10px 16px 10px 16px;
}


#fortunecookies {
  text-align: center;
}

#fortune {
  float: center;
  text-align: center;
  margin: auto;
  font-family: 'Oldenburg', cursive;
  font-size: 16px;
  min-width: 200px;
  max-width: 280px;
  min-height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  margin-top: 40px;
  box-shadow: 6px 6px 2px #888888;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 50; 
}

.footer {
  text-align: right; 
  font-size: 16px;
  margin-right: 10px;  
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: none;
  color: #9ACD32;
}


